<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Simple Bug Tracker</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Log Bug
        </a>
        <div class="dropdown-menu">
          <form class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Bug Title</label>
              <input
                type="text"
                class="form-control"
                id="exampleDropdownFormEmail1"
                placeholder="Bug Title"
              />
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Module</label>
              <input
                type="text"
                class="form-control"
                id="exampleDropdownFormPassword1"
                placeholder="Module Name"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Tested By</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>John</option>
                <option>Megan</option>
                <option>Rachel</option>
                <option>Stefanie</option>
                <option>Clark</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Bug Description</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Please describe bug details here."
              ></textarea>
            </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Supporting Images</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New around here? Sign up</a>
          <a class="dropdown-item" href="#">Forgot password?</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
